.travel__caption {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .travel__caption {
        padding-left: 24px;
    }
}