.comments__container {
    display: grid;
    grid-template-columns: repeat(3, 296px);
    grid-template-rows: auto;
    grid-column-gap: 16px;
    padding: 0 calc((100% - (296px*3))/2);
}

@media screen and (max-width: 935px) {
    .comments__container {
        grid-template-columns: 382px;
        grid-template-rows: auto;
        grid-column-gap: 16px;
        padding: 0 calc((100% - 382px)/2);
    }
}

@media screen and (max-width: 475px) {
    .comments__container {
        grid-template-columns: 343px;
        grid-template-rows: auto;
        grid-column-gap: 16px;
        padding: 0 calc((100% - 343px)/2);
    }
}

@media screen and (max-width: 360px) {
    .comments__container {
        grid-template-columns: 288px;
        grid-template-rows: auto;
        grid-column-gap: 16px;
        padding: 0 calc((100% - 288px)/2);
    }
}