@import url(__logo/header__logo.css);
@import url(__lang/header__lang.css);
@import url(__lang-list/header__lang-list.css);
@import url(__lang-item/header__lang-item.css);

.header {
    width: calc(100% - 96px);
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .header {
        width: calc(100% - 48px)
    }
}

@media screen and (max-width: 375px) {
    .header {
        width: calc(100% - 28px);
        padding-top: 16px;
    }
}